[submodule "CompileOptions"]
	path = CompileOptions
	url = git@github.com:MusicLab-Dev/CompileOptions.git
[submodule "Flow"]
	path = Flow
	url = git@github.com:MusicLab-Dev/Flow.git
[submodule "Fourier"]
	path = Fourier
	url = git@github.com:mborgerding/kissfft.git
